*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker';
}

body{
     background: url(../images/background.png);
}

.name{
    height: 100px;
    background-color: rgba(40,40,40,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
}

.text {
    font-size: 18px;
}

.text:first-letter {
    font-size: 24px;
}

.name > p {
    font-size: 30px;
}

.name > p:first-letter {
    font-size: 40px;
}

.border_wrapper{
    left: 191px;
    top: 278px;
    position: absolute;
    top: 53%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.border_wrapper img{
    width: 192px;
}

.center{
    overflow: hidden;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    height: 500px;
    background-color: rgba(161, 25, 179, 0.5);
    border-radius: 35px;
}

.block{
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-top: 0;
    left: 0;
    top: 0;
}

.line {
    position: relative;
    width: 197px;
    opacity: 1;
    float: left;
    border-right: solid rgba(41, 40, 40, 0.5) 5px;
}

.last {
    border-right: 0;
}

.block img{
    width: 64px;
    height: 64px;
    position: absolute;
    left: 65px;
    opacity: 1;
}

.footer_wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(40,40,40,0.6);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.buttons{
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 80%;
}

.balance_wrapper{
    align-self: center;
    color: white;
    width: 350px;
}

.two_buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

#start, #add{
    background-color: green;
    border-style: none;
    width: 120px;
    height: 40px;
    border-radius: 7px;
}

#add{
    background-color: yellow;
}
